$base-value: 0.5rem;
$line-height-title: 1.2;
$line-height-standard: 1.6;
$line-height-heading: 1;

$color-accent: #eccc8f;
$color-text-accent: #4a5568;
$color-text-primary: #1b1b1b;
$color-text-secondary: #4e4e4e;
$color-background-dark: #210440;
$color-background-light: #fefefe;
$color-text-light: #fdfdfd;
$color-bright-brick: #ee7828;
$color-graphite: #2c2c2c;

.post {
  margin: $base-value * 2;

  ::selection {
    color: $color-text-light;
    background-color: $color-graphite;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $color-text-primary;
    line-height: $line-height-title;
    margin-top: $base-value * 4;
    margin-bottom: $base-value * 2;
  }

  h1 {
    font-size: 3.5rem;
    text-align: center;
    font-weight: 900;
    line-height: $line-height-title;
    margin-top: $base-value * 4;
    margin-bottom: $base-value * 4;
  }
  h2 {
    font-size: 2.5rem;
    line-height: $line-height-heading;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.75rem;
  }
  h5 {
    font-size: 1.5rem;
  }
  h6 {
    font-size: 1.2rem;
  }

  p {
    margin: $base-value * 2 0;
    line-height: $line-height-standard;
    font-size: 1.1rem;
  }

  q {
  }
  a {
    border-bottom: $base-value * 0.25 solid $color-graphite;
  }

  blockquote {
    margin: $base-value * 2 0;
    background-color: $color-background-light;
    font-style: italic;
    padding: $base-value * 2;
    border-left: solid $color-accent $base-value / 2;
    color: $color-text-accent;

    p {
      margin: $base-value;
    }
  }

  code {
    font: monospace;
  }

  pre {
    background-color: $color-background-dark;
    padding: $base-value * 2;
    margin: $base-value * 2 0;
    border-radius: $base-value;
    overflow: scroll;
    color: $color-text-light;

    ::selection {
      color: $color-text-primary;
      background-color: $color-bright-brick;
    }
  }

  ul,
  ol {
    list-style-position: inside;
    margin: $base-value * 2 0;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }
}
